* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: #FF9A4B;
}

main {
    width: 960px;
    margin: 50px auto;
}

.main-box {
    display: flex;
    justify-content: center;
}

.step-box {
    padding: 10px;
    margin-right: 30px;
    background-color: #EEEEEE;
    background-size: cover;
    background-position: center;
    position: relative;
}

.step-box:last-child {
    margin: 0;
}

.step-img1 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url(task-image/flow01.png);
}

.step-img2 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url(task-image/flow02.png);
}

.step-img3 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: url(task-image/flow03.png);
}

.step-num {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px 0;
    background-color: #FF9A4B;
    color: white;
}
.title {
    padding: 15px 0 5px 0;
}

footer {
    height: 50px;
    background-color: #AAAAAA;   
}


@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }
    
    main {
        width: 100%;
    }
    
    .main-box {
        width:90%;
        margin: 0 auto;
        display: block;
    }
    
    .step-box {
        width:100%;
        margin-bottom:20px;
    }
    
    .step-box:last-child {
        margin: 0;
    }

    footer {
        width: 100%;
    }
}